# package reqs
numpy
pandas
numba
scipy
jinja2
requests
aiohttp
aiohttp-retry
tqdm
shapely
pyproj
Pillow
git+https://github.com/OpenHydrology/lmoments3.git@7e19f97c23019ca68cbd526b8bd417c412438f1c

# dev reqs
pip
bump2version
wheel
watchdog
tox
coverage
Sphinx
twine
pytest
black
mypy
myst_parser
matplotlib
ipython
numpydoc
furo
nbsphinx
bokeh
folium
plotly